.header{
    background-color: rgb(0, 136, 255);
}
.Title{
    font-weight: 600;
    font-family: "DM Serif Display", serif;
}
.MENU{
    font-size: 16px;
    font-weight: 600;
    font-family: "DM Serif Display", serif;
}
.General-menu{
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: inline-flex;
    color: white;
    font-size: 16px;    
    font-weight: 600;
}